extends ./base

block content

    main.main
        div.row.row-max
            .col.span-4-of-4
                h2.main__h2= `Pedidos ( ${orders.length} )`

                
                ul.instructions-list
                    li
                        p Para pagar un pedido hay que depositar la cantidad total del pedido a la tarjeta (), el deposito se puede realizar desde cualquier sucursal oxxo.
                            
                    li 
                        p Después de realizar el depósito, habrá que comunicarse con nosotros mediante Whataspp (4925 321 321) indicando el número de pedido 
                            span y anexando una foto del depósito.
                    li
                        p En cuanto validemos el depósito, el pedido pasará a tener un estado de Envío Pendiente.
                    li
                        p Todos nuestros productos son elaborados artesanalmente, y el proceso es un poco tardado, por lo cual el envío depende de la disponivilidad de los productos
                            span variando desde 1 a 10 días.
                    li
                        p Una vez enviado el pedido, este pasará a tener un estado de Enviado y el envió dependerá del servicio de paquetería, el cual tarda desde 2 a 5 días hábiles 
                    li
                        p Los pedidos con estado de Pago Pendiente serán Cancelados automáticamente 5 días después de de haberlos realizado en caso de no haber sido pagado.
                ul.preview-list

                -let i = orders.length-1;
                    each order in orders
                        .row
                            h2.main__h2= ` - Pedido: ${order.folio}  -  Fecha: ${order.formatedDate}`
                                span.h2__inline-content Estado: 
                                    span.pink-text= `${order.status}`
                        each prod in order.cart
                                div.row.preview-list__item.preview-list__item--borderless
                                    .col.span-1-of-5.mobile-50
                                        img(src=`/resources/img/products/${prod.product.img}`)
                                    .mobile-50
                                        .col.span-1-of-5.mobile-90
                                            li
                                                label(for=`name${i}`) Producto:
                                                span= `${prod.product.name}`
                                            li
                                                label(for=`category${i}`) Categoría:
                                                span= `${prod.product.category}`
                                        .col.span-1-of-5.mobile-90
                                                label Precio:
                                                span= `$${prod.product.finalPrice}`
                                        .col.span-1-of-5.mobile-90
                                            li
                                                label(for=`prod__quantity${i}`) Cantidad:
                                                span= `${prod.quantity}`

                                        .col.span-1-of-5.mobile-90.total-price
                                            li
                                                label Precio Total:
                                                span= `$${(prod.product.finalPrice*prod.quantity).toFixed(2)}`
                        -i--;
                        div.row.preview-list__item.preview-list__item--address
                            .col.span-1-of-5
                            .col.span-2-of-5
                                li
                                    span= `- Destinatario: ${order.recipient}`
                                li
                                    span= `- Dirección de envío: ${order.address}`
                                li
                                    span= `- Contacto: ${order.contact}`
                            .col.span-1-of-5
                                -if(order.status == "Pago pendiente")
                                    li
                                        button.btn.btn--gray.btn-small.order__cancel-btn--js(data-id=`${order.id}`) Cancelar
                            .col.span-1-of-5.total-price.total-price-total
                                li
                                    label Total:
                                    span= ` $${order.total}`
