extends ./../base

block content

    main.main
        div.row-max
            h2.main__h2
                span=`Carrito `
                    i.icon.ion-ios-cart.cart-icon
                span=` ( ${user.cart.length} )`

                -if (user.cart.length > 0) 
                    span.h2__inline-content
                        button.link#empty__cart--js Vaciar carrito
            -if (user.cart.length > 0) 
                ul.preview-list

                -let i = 0;
                -total = 0;
                each prod in user.cart
                    -total += (prod.product.finalPrice*prod.quantity);
                    form.form__cart--js(data-prod_id=`${prod.product.id}` data-form_id=`${i}`)
                        div.row.preview-list__item
                            .col.span-1-of-5.mobile-50
                                a(href=`/products/${prod.product.slug}`)
                                    img(src=`data:image/jpeg;base64, ${prod.product.imgData}`)
                            .mobile-50
                                .col.span-1-of-5.mobile-90
                                    li
                                        label(for=`name${i}`) Producto:
                                        a(href=`/products/${prod.product.slug}`).link= `${prod.product.name}`
                                    li
                                        label(for=`description${i}`) Descripcion:
                                        span= `${prod.product.description}`
                                    li
                                        label(for=`category${i}`) Categoría:
                                        span= `${prod.product.category}`
                                .col.span-1-of-5.mobile-90
                                    if prod.product.discount > 0
                                        li
                                            label(for=`price${i}`) Price Normal:
                                            span= `${prod.product.price}`
                                        li
                                            label(for=`discount${i}`) Descuento:
                                            span=`${prod.product.discount} %`
                                    li
                                        label Precio:
                                        span= `$${prod.product.finalPrice}`
                                .col.span-1-of-5.mobile-90
                                    li
                                        label(for=`prod__quantity${i}`) Cantidad:
                                        input(id=`prod__quantity${i}--js` min="0" type="number"  value= `${prod.quantity}`).product-input-quantity
                                        div
                                            button.btn.btn--gray.btn-small.margin-top.cart-prod__update-btn--js(data-id=`${prod.product.id}` data-countd=`${i}`) Actualizar
                                        div
                                            button.btn.btn--gray.btn-small.cart-prod__delete-btn--js(data-id=`${prod.product.id}`) eliminar

                                .col.span-1-of-5.mobile-90.total-price
                                    li
                                        label Precio Total:
                                        span= `$${(prod.product.finalPrice*prod.quantity).toFixed(2)}`
                        -i++;                    
                div.row
                    .col.span-4-of-5
                    .col.span-1-of-5.total-price-total
                        label Envío:
                        span= `Incluido`
                        br
                        br
                        label Total:
                        span= `$${total.toFixed(2)}`

            -if (user.cart.length === 0)
                 div.row.row-max.margin-top.margin-bottom
                    h2 Aún no cuentas con productos en tu carrito!
                    h2 Primero debes de agregar productos para poder realizar tu pedido.

            div.row
                div.center-text
                    button.btn.btn--gray.btn-cart.margin-bottom.nav-button--js(data-link="/products") Seguir Comprando


            -if (user.cart.length > 0) 
                div.row
                    div.center-text.margin-bottom
                        button.btn.btn--pink.btn-cart.margin-bottom.nav-button--js(data-link="/checkout") Confirmar carrito
